#submit-box {
  text-align: center;
}

#player-one-buttons,
#player-two-buttons {
  display: none;
  text-align: center;
}

.scores-display {
  display: none;
}

#turn-table {
  display: none;
  text-align: center;
}

body {
  background-image: url('../img/spring.png');
  font-family: 'Patua One', cursive;
}

#main-body {
  background: rgba(250,250,250,.8);
  padding: 20px;
  border: 2px solid black;
  border-top: 0;
}

.jumbotron {
  margin-bottom: 0px;
  background-color: transparent;
}

#header {
  background-image: url(../img/banner.jpg);
  min-height: 335px;
  background-position: top;
  background-size: cover;
  text-align: center;
}

.row {
  margin:0px;
}

/*#name-submit {
  margin-top: 20px;
}*/

#name-fields {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-danger {
  background-color: #F3B59D;
  color: #5A4841;
  border-color: #DE8C6C
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active{
  background-color: #DE8C6C;
  color: #5A4841
}

/*Dice animation from http://www.goocode.net/js/51-jquery-dice-animation.html*/

.wrap1, .wrap2{width:90px; height:90px; margin:30px auto 30px auto; position:relative}
.dice{width:90px; height:90px; background:url(../img/dice.png) no-repeat;}
.dice_1{background-position:-5px -4px}
.dice_2{background-position:-5px -107px}
.dice_3{background-position:-5px -212px}
.dice_4{background-position:-5px -317px}
.dice_5{background-position:-5px -427px}
.dice_6{background-position:-5px -535px}
.dice_t{background-position:-5px -651px}
.dice_s{background-position:-5px -763px}
.dice_e{background-position:-5px -876px}
p#result{text-align:center; font-size:16px}
p#result span{font-weight:bold; color:#f30; margin:6px}
#dice_mask{width:90px; height:90px; background:#fff; opacity:0; position:absolute;
 top:0; left:0; z-index:999}
